.label{
  font-weight: bold; font-size: large; padding-left: 10px;
}
nav{
  font-weight: bold; font-size: larger; padding-left: 10px; color: blue; margin-left: 20%;
}
.subHeading{
  font-weight: 500; font-size:medium; margin-left: 40px;
}
nav ul { 
	list-style-type: none;
      padding-left: 0;
	border-top: 1px solid #EEEEEE; font-size: x-large;  padding-left: 30%; background-color:#330570; color:white;
}
li{
  display: inline; color: white;
}
a:link {
  color: white;
  background-color: #330570;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: #330570;
  text-decoration: none;}

body{
	background-color:rgb(140, 159, 189); margin-left: auto; margin-right: auto; width: 968px; font-size: large; font-family: sans-serif; padding-left: 10px; 
}
/* apply a natural box layout model to all elements */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* reset rules */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  max-width: 960px;
  background: white;
  margin: 0 auto;
  font-family: Verdana, Geneva, sans-serif; 
}

ol, ul {
  list-style: none;
}

/* page header */
header {
  background: #330570;
  width: 100%;
  color: #FFFFFF;
  font-size: 48px;
  text-align: center;
  line-height: 1.5em;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

/* main content */
.main {
  width: 960px;
  text-align: left;
  background: #FFCF40;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  border-bottom-right-radius: 20px;
}
header {
  background: #330570;
  width: 100%;
  color: #FFFFFF;
  font-size: 48px;
  text-align: center;
  line-height: 1.5em;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
